@import url("https://fonts.googleapis.com/css2?family=Vazirmatn:wght@400;500;700&display=swap");

@import "tailwindcss";

body {
  font-family: "Vazirmatn", sans-serif;
}

.swiper-button-prev,
.swiper-button-next {
  width: 32px;
  height: 32px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 100%;
  box-shadow: 0 0 14px -3px rgba(0, 0, 0, 0.22);
  background-color: #fff !important;
}

.swiper-button-next,
.swiper-button-prev {
  width: 30px !important;
  height: 30px !important;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 14px !important;
  color: #000 !important;
}

.banner-swiper .swiper-pagination-horizontal {
  margin-left: 820px;
}

.banner-swiper .custom-nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  background-color: white;
  clip-path: polygon(100% 50%, 0 0, 0 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  cursor: pointer;
  transition: opacity 0.3s ease;
  opacity: 0;
  z-index: 10;
  margin-top: 150px;
  margin-right: 30px;
}

.banner-swiper .custom-prev {
 right: 25px;
}

.banner-swiper .custom-next {
  right: 120px;
  top: 188px;
  transform: rotate(180deg);
}

.banner-swiper .custom-nav svg {
  color: black;
  font-size: 18px;
  transform: rotate(180deg);
}

.banner-swiper .custom-next svg {
  transform: rotate(0deg);
}

.banner-swiper:hover .custom-nav {
  opacity: 1;
}
